.App {
  background-color: #333;
  color: green;
  height: 100vh;
  padding: 1rem;
  margin: 0px;
  width: 100%;
  
}

.terminal {
  white-space: pre-line;
}

body {
  margin: 0px;
}

input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: green;
}
